{%extends "users/base1.html"%}

{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> In search of Dream Job </h3>
                    <p class="text-light">We help you find one!
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for value in values %}
                <div class="card mb-4">
                    <div>
                        <ul>
                            <h2>{{ value.company_name}}</h2>
                            <li>Position : {{ value.position }}</li>
                            <li>Experience : {{ value.experience }}</li>

                            <li>Skills Required : {{ value.skillsrequired }}</li>
                            <p align="right">
                                <button class="btn btn-primary" onclick="users/details.html';">Show</button>
<!--                            <a   style="margin:10px;">Show </a>-->
                            </p>
                        </ul>
                    </div>
                </div>
            {% endfor %}
            </div>
                <div>
        {% block sidebar %} {% include 'users/sidebar.html' %} {% endblock sidebar %}

</div>
{%endblock%}


