{% if error %}
</br>
{{ error }}
</br>
{% endif %}

{% block content %}
<h1>Signup</h1>

<form method="POST" action="{% url 'signup' %}">
     {% csrf_token %}
    First Name:<input type = "text" name = "firstname" placeholder = "Enter Firstname" required/>
    <br>
    Middle Name:<input type = "text" name = "middlename" placeholder = "Enter Middlename"/>
    <br>
    Last Name:<input type = "text" name = "lastname" placeholder = "Enter Lastname" required/>
    <br>
    Date of Birth:<input type = "date" name = "dob" placeholder = "Enter Date of Birth" required/>
    <br>
    Email:<input type = "email" name = "emailaddress" placeholder = "Enter Email Address" required/>
    <br>
    Phone Number:<input type = "text" name = "phonenumber" placeholder = "Enter Phonenumber" required/>
    <br>
    <br>
    <br>
    <input type = "submit"  value="Submit">
</form>
{% endblock %}